/* Home Page */
/*Banner Section*/

.banner {
    padding: 35px 0 60px;

    .button {
        margin-top: 32px;
    }

    @include media-breakpoint-up(lg) {
        padding: 96px 0;
    }
}

.client-section {
    margin: 40px 0;
}