/* Default styles */
body,
html {
    font-family: $font-primary;
    @include text(14px, 20px, $font-weight-normal);
    color: $black-100;
}

p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    color: $black-100;
    margin: 0;
}

/* Paragraphs */
p {
    @include text(14px, 22px, $font-weight-normal);

    @include media-breakpoint-up(lg) {
        @include text(16px, 24px, $font-weight-normal);

    }
}

ul,
li {
    list-style: none;
}

button,
button:focus {
    box-shadow: none;
    text-transform: uppercase;
}

a {
    color: $grey;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $grey;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    color: transparent;
    height: auto;
}