/* Helpers */
// Background colors classes
@each $bg-color,
$color in $bg-color {
    .bg-#{$bg-color} {
        background: $color !important;
    }
}

// Text colors classes
@each $text-color,
$color in $text-color {
    .text-#{$text-color} {
        color: $color !important;
    }
}

//Font Weight Classes

@each $text-font,
$font in $text-font {
    .text-#{$text-font} {
        font-weight: $font !important;
    }
}