/* Helpers */
// Background colors classes
@each $bg-color,
$color in $bg-color {
    .bg-#{$bg-color} {
        background: $color !important;
    }
}

// Text colors classes
@each $text-color,
$color in $text-color {
    .text-#{$text-color} {
        color: $color !important;
    }
}


@each $key,
$val in $colors {
    .text-#{$key} {
        color: $val;
    }

    //Parent selector
    .text-hover-#{$key} {
        &:hover {
            color: $val;
        }
    }

    .bg-#{$key} {
        background-color: $val;
    }

    @for $i from 1 through 9 {
        .text-#{$key}-light-#{$i} {
            color: mix(white, $val, $i *10)
        }
    }

    @for $i from 1 through 9 {
        .bg-#{$key}-light-#{$i} {
            background-color: mix(white, $val, $i *10)
        }
    }
}