/* Carousel/Slider */

/* Carousel start */
.carousel-indicators {
    bottom: -70px;

    [data-bs-target] {
        width: 15px;
        height: 15px;
        background-color: rgba($green, 0.30);
        border-radius: 50%;
        opacity: 1;
        border-top: 14px solid transparent;
        border-bottom: 13px solid transparent;
        margin: 0 5px;
    }

    .active {
        background-color: $green;
    }

    @include media-breakpoint-up(lg) {
        bottom: -100px;
    }
}

#mobClientSlider {
    .carousel-inner {
        .carousel-item {
            justify-content: space-between;

            @include media-breakpoint-down(sm) {
                >div {
                    display: none;
                }

                >div:first-child {
                    display: block;
                }
            }

            &.active,
            &-next,
            &-prev {
                display: flex;
            }

            @include media-breakpoint-up(sm) {

                &-end.active,
                &-next {
                    transform: translateX(25%);
                }

                &-start.active,
                &-prev {
                    transform: translateX(-25%);
                }
            }

            &-end,
            &-start {
                transform: translateX(0);
            }
        }
    }
}

/* Carousel end */